<br/>
<div class="conatiner">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-offset-3">
<div class="row">
    <div class="alert alert-success">
           <strong>{{success}}</strong>
        </div> <br/>

            <a href="/dashboard"><button type="button" class="btn btn-primary">Continue shopping</button></a>
</div>
</div>
</div>